.attractions {
  padding-top: 23px;
  padding-bottom: 42px;
  list-style: none;

  @include md-width {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.attractions__item {
  max-width: 300px;
  padding: 10px 0 0 47px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 40px 40px;

  @include md-width {
    max-width: 100%;
    padding: 156px 30px 62px;
    background-position: top 63px center;
  }

  @include lg-width {
    padding: 169px 30px 70px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include md-width {
      margin-bottom: 0;
    }
  }

  &--home {
    background-image: url("../img/advantages/home.svg");

    @include md-width {
      background-size: 78px 75px;
      background-position: top 58px center;
    }

    @include lg-width {
      background-position: top 67px center;
    }
  }

  &--food {
    background-image: url("../img/advantages/burger.svg");

    @include md-width {
      background-size: 82px 80px;
      background-position: top 55px center;
    }

    @include lg-width {
      background-size: 70px 80px;
      background-position: top 64px center;
    }
  }

  &--souvenirs {
    background-image: url("../img/advantages/gift.svg");

    @include md-width {
      background-size: 83px 75px;
    }

    @include lg-width {
      background-size: 95px 80px;
    }
  }
}

.attractions__title {
  margin-bottom: 16px;

  @include md-width {
    margin-bottom: 23px;
  }
}

.attractions__text {
  @include md-width {
    max-width: 177px;
    display: block;
    margin: 0 auto;
  }

  @include lg-width {
    max-width: 290px;
  }
}

.attractions__title,
.attractions__text {
  @include md-width {
    text-align: center;
  }
}
