.button {
  min-height: 58px;
  background-color: $primary-clr;
  padding: 16px;
  color: $light-clr;
  text-transform: uppercase;
  line-height: inherit;
  border: none;

  &:hover,
  &:focus {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-down;
    color: rgba(255, 255, 255, 0.3)
  }
}
