.card-button {
  position: relative;
  background-color: inherit;
  padding-left: 37px;
  transition: $transition;

  @include lg-width {
    background-color: initial;
    color: $light-clr;
  }

  &:hover,
  &:focus {
    &::before {
      mask-image: url("../img/card/like-icon.svg");
      background-color: $primary-hover;
      opacity: 1;
      transition: $transition;
    }
  }

  &:active {
    &::before {
      mask-image: url("../img/card/like-icon.svg");
      background-color: $primary-down;
      opacity: 0.3;
      transition: $transition;
    }
  }

  &::before {
    content: "";
    mask-image: url("../img/card/like-icon.svg");
    background-color: $dark-clr;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;

    width: 23px;
    height: 21px;

    @include lg-width {
      mask-image: url("../img/card/like-icon.svg");
      background-color: $light-clr;
      opacity: 1;
    }
  }
}
