.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 33px;

  @include md-width {
    justify-content: space-between;
    flex-direction: row;
    padding: 36px;
  }
}

.footer__link {
  font-size: 21px;
  margin-bottom: 30px;

  @include md-width {
    margin-bottom: 0;
  }
}

.footer__socials {
  @include reset-list;

  margin-bottom: 30px;

  @include md-width {
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  color: $dark-clr;
  transition: $transition;

  &:hover,
  &:focus {
    color: $primary-hover;
    transition: $transition;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    transition: $transition;
  }
}

.footer__logo {
  margin-left: 12px;
}
