.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 33px;

  @include md-width {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 38px 60px;
    justify-content: space-between;
  }

  @include lg-width {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    padding: 36px 119px;
  }
}

.footer__link-wrap {
  margin-bottom: 25px;

  @include md-width {
    margin-bottom: 0;
  }
}

.footer__link {
  font-size: 21px;
}

.footer__socials {
  @include reset-list;

  margin-bottom: 31px;

  @include md-width {
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  color: $dark-clr;
  transition: $transition;

  &:hover,
  &:focus {
    color: $primary-hover;
    transition: $transition;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    transition: $transition;
  }
}

.footer__logo {
  margin-left: 12px;
}
