.form-group {
  width: 100%;

  &--half {
    @include md-width {
      width: 50%;
      margin-top: 40px;
    }

    @include lg-width {
      width: 50%;
      margin-top: 37px;
    }
  }

  &--radio {
    padding: 23px 20px 25px;

    @include md-width {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      padding: 18px 20px 25px;
    }

    @include lg-width {
      padding: 30px 20px 25px;
    }
  }

  &--checkbox {
    padding: 23px 20px 25px;

    @include md-width {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      padding: 23px 20px 25px;
    }

    @include lg-width {
      padding: 33px 20px 75px;
    }
  }
}

.form-group__list {
  @include reset-list;

  margin-top: 40px;

  @include md-width {
    margin-top: 0;
  }

  &--radio {
    @include md-width {
      width: 100%;
      display: inline-grid;
      grid-template-columns: repeat(2, 280px);
      gap: 0 14px;
      justify-content: center;
    }

    @include lg-width {
      width: auto;
      grid-template-columns: repeat(3, auto);
      margin-top: 14px;
      gap: 0 64px;
      justify-content: normal;
    }
  }

  &--checkbox {
    @include md-width {
      width: 100%;
      display: inline-grid;
      grid-template-columns: repeat(2, 256px);
      justify-content: center;
      margin-left: 30px;
    }

    @include lg-width {
      width: auto;
      gap: 0 64px;
      grid-template-columns: repeat(4, auto);
      margin-top: 27px;
      margin-left: 0;
    }
  }
}

.form-group__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form-group__input {
  &[type="radio"]:checked ~ .form-group__label {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 23px;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $text-clr;
    }
  }

  &[type="checkbox"]:checked ~ .form-group__label {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      width: 22px;
      height: 16px;
      background-color: #333333;
      mask-image: url("../img/sprite.svg#tick");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 22px 23px;
    }
  }
}

.form-group__label {
  display: block;
  margin-left: 16px;

  &--radio {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    margin-left: 0;

    &::before {
      content: "";
      width: 46px;
      height: 46px;
      background-color: $form-bg-clr;
      display: flex;
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 16px;
      transition: $transition;
    }
  }

  &--checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 0;

    &::before {
      content: "";
      width: 46px;
      height: 46px;
      background-color: $form-bg-clr;
      display: flex;
      flex-shrink: 0;
      margin-right: 16px;
      transition: $transition;
    }
  }
}

.form-group__label--radio,
.form-group__label--checkbox {
  &:hover {
    &::before {
      background-color: $form-bg-hover;
      transition: $transition;
    }
  }

  &:active {
    &::before {
      background-color: $form-bg-down;
      transition: $transition;
    }
  }
}

.form-group__input:focus ~ .form-group__label--radio {
  &::before {
    background-color: $form-bg-hover;
    transition: $transition;
  }
}

.form-group__input:focus ~ .form-group__label--checkbox {
  &::before {
    background-color: $form-bg-hover;
    transition: $transition;
  }
}

.form-group__legend {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  float: left;

  @include md-width {
    margin-bottom: 30px;
  }
}

.form-group__legend--decor {
  &::before {
    @include md-width {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      min-width: 130px;
      width: 20%;
      background-color: #dbdbdb;
    }

    @include lg-width {
      min-width: 280px;
    }
  }

  &::after {
    @include md-width {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 20%;
      min-width: 130px;
      background-color: #dbdbdb;
    }

    @include lg-width {
      min-width: 280px;
    }
  }
}

.form-group__textarea {
  padding: 16px;
  background: $form-bg-clr;
  width: 100%;
  min-height: 150px;
  resize: none;
  transition: $transition;

  @include lg-width {
    padding: 13px;
    display: block;
    max-width: 79.17%;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &:focus {
    transition: $transition;
    background-color: $form-bg-hover;
  }
}
