.form-group {
  width: 100%;

  &--half {
    @include md-width {
      width: 50%;
    }
  }

  &--row {
    @include md-width {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.form-group__list {
  @include reset-list;

  margin-top: 40px;

  &--row {
    @include md-width {
      width: 100%;
      display: inline-grid;
      grid-template-columns: repeat(2, 280px);
      justify-content: center;
    }

    @include lg-width {
      display: flex;
    }
  }
}

.form-group__list--row > .form-group__item:not(:last-child) {
  @include lg-width {
    margin-right: 60px;
  }
}

.form-group__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form-group__input {
  width: 100%;

  &--radio[type="radio"]:checked ~ .form-group__label {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 23px;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $text-clr;
    }
  }

  &--checkbox[type="checkbox"]:checked ~ .form-group__label {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 24px;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 16px;
      border-radius: 50%;
      background-color: $text-clr;
      mask-image: url("../../img/form/tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 22px 16px;
    }
  }
}

.form-group__label {
  display: block;

  &--radio {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 18px;

    &::before {
      content: "";
      width: 46px;
      height: 46px;
      background-color: $form-bg-clr;
      display: block;
      border-radius: 50%;
      margin-right: 16px;
    }
  }

  &--checkbox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;

    &::before {
      content: "";
      width: 46px;
      height: 46px;
      background-color: $form-bg-clr;
      display: block;
      margin-right: 16px;
    }
  }
}

.form-group__legend {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  float: left;

  @include md-width {
    margin-bottom: 30px;
  }
}

.form-group__legend--decor {
  &::before {
    @include md-width {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      min-width: 130px;
      width: 20%;
      background-color: #dbdbdb;
    }

    @include lg-width {
      min-width: 280px;
    }
  }

  &::after {
    @include md-width {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 20%;
      min-width: 130px;
      background-color: #dbdbdb;
    }

    @include lg-width {
      min-width: 280px;
    }
  }
}

.form-group__textarea {
  padding: 16px;
  background: $form-bg-clr;
  width: 100%;
  min-height: 150px;
  resize: none;

  @include lg-width {
    display: block;
    max-width: 79.17%;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}
