.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 18px 35px;

  @include md-width {
    padding: 50px 30px 60px;
  }
}

.headline__title {
  text-align: center;
  margin-bottom: 30px;
  max-width: 270px;

  @include md-width {
    max-width: 520px;
    margin-bottom: 20px;
  }
}

.headline__text {
  text-align: center;
  max-width: 270px;

  @include md-width {
    max-width: 520px;
  }
}
