.hotels {
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;


  @include md-width {
    padding-top: 58px;
    padding-bottom: 55px;
  }

  @include lg-width {
    padding-bottom: 67px;
  }
}

.hotels__title {
  margin-bottom: 17px;
  font-size: 21px;

  @include md-width {
    font-size: 30px;
    margin-bottom: 23px;
  }

  @include lg-width {
    margin-bottom: 25px;
  }
}

.hotels__text {
  max-width: 435px;
  margin: 0 auto;
}

.hotels__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 458px;
  margin: 32px auto 0;
  font-size: 21px;
  font-weight: 700;

  @include md-width {
    margin: 44px auto 0;
  }
}
