.label {
  display: block;

  &--input-icon {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-size: 18px 18px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/form/phone.svg");
    }
  }

  &--email {
    &::after {
      background-image: url("../img/form/email.svg");
    }
  }
}
