.socials {
  display: flex;
}

.socials__item {
  width: 48px;
  height: 48px;
  background-color: $primary-clr;
  transition: $transition;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover,
  &:focus-within {
    background-color: $primary-hover;
    transition: $transition;
  }

  &:active {
    background-color: $primary-down;
    transition: $transition;
  }
}

.socials__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  mask-size: 24px 24px;
  mask-repeat: no-repeat;
  mask-position: center;
  position: relative;

  &--vk {
    mask-image: url("../img/sprite.svg#vk");
  }

  &--telegram {
    mask-image: url("../img/sprite.svg#telegram");
  }

  &--youtube {
    mask-image: url("../img/sprite.svg#youtube");
  }

  &:active {
    opacity: 0.3;
    transition: $transition;
  }
}
