@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin xl-width {
  @media all and (min-width: 1699px) {
    @content;
  }
}

@mixin lg-width {
  @media all and (min-width: 1200px) {
    @content;
  }
}

@mixin md-width {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin only-mobile {
  @media all and (max-width: 767px) {
    @content;
  }
}
