/*  default style  */
@import "variables.scss";
@import "mixins.scss";
@import "nullstyle.scss";
@import "blocks/common.scss";
@import "blocks/title.scss";
@import "blocks/text.scss";
/*  header  */
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/nav-button";
/*  main  */
@import "blocks/hero.scss";
@import "blocks/headline.scss";
@import "blocks/advantages.scss";
@import "blocks/card.scss";
@import "blocks/attractions.scss";
@import "blocks/hotels.scss";
@import "blocks/button.scss";
@import "blocks/map.scss";
/*  footer  */
@import "blocks/footer.scss";
@import "blocks/socials.scss";
/*  gallery  */
@import "blocks/gallery.scss";
@import "blocks/gallery-card.scss";
@import "blocks/card-button.scss";
@import "blocks/presentation.scss";
/*  form  */
@import "blocks/form.scss";
@import "blocks/form-group.scss";
@import "blocks/input.scss";
@import "blocks/label.scss";
/*  modal  */
@import "blocks/modal.scss";
