/*  colors scheme  */
$primary-clr: #81b3d2;
$primary-hover: #669ec0;
$primary-down: #5496bd;
$secondary-clr: #eeeeee;
$light-clr: #ffffff;
$dark-clr: #000000;
$text-clr: #333333;
$text-current: #766357;
$decor-clr: #d6d6d6;
$form-bg-clr: #f2f2f2;
$form-bg-hover: #e5e5e5;
$form-bg-down: #d5d5d5;

/*  animation  */
$transition: 0.3s ease-out;

/*  fonts  */
$fontfamily: "PT Sans", arial, helvetica, sans-serif;

/*  sizes  */
$minwidth: 320px;
