/*  Colors scheme  */
$primary-clr: #81b3d2;
$secondary-clr: #eeeeee;
$light-clr: #ffffff;
$dark-clr: #000000;
$text-clr: #333333;
$text-current: #766357;
$decor-clr: #d6d6d6;
$form-bg-clr: #f2f2f2;

$fontfamily: "PT Sans", sans-serif;
$minwidth: 320px;

$tablet: 768px;
$desktop: 1200px;
